@import "tailwindcss";

:root {
  --color-background: #e8e8eb;
  --color-foreground: #1e1e2f;
  --color-primary: #0b4d9e;
  --color-secondary: #199e72;
  --color-accent: #ec870c;
  --color-muted: #6b7280;

  --font-inter: "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #fffbf1;
    --color-foreground: #e5e7eb;
    --color-primary: #0c7ad9;
    --color-secondary: #34d399;
    --color-accent: #fbbf24;
    --color-muted: #9ca3af;
  }
}

body {
  background: var(--color-background);
  color: black;
  font-family: var(--font-inter);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
}
